<html lang="en">
<head> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script> function goBack() { window.history.back(); } </script>

<style>

 thead {color:white;}

 thead {background-color:rgb(75, 73, 73);}

 tbody {color:gray;}

 tfoot {color:red;}

 .r{ border:1px solid #C2BABA; 
      
     text-align: center;
    
    font-family: initial; }
 
   
 a.hover {color: blue;}

</style>

<head>

<body>

<div class="sh">

<button onclick="goBack()" class="btn btn-info"><span class="glyphicon glyphicon-hand-left"></span>&nbsp;Go Back</button>

<br><br>

<img style="margin-left: 48%; margin-bottom: -2%;" src="/assets/210.gif">

<h2><center><%= @form.username%></center></h2>

<center><table style="width: 50%;">

<thead><tr>

<th class="r">E-Mail</th>

<th class="r">Password</th>

<th class="r">Genter</th>

<th class="r">Date of Birth</th>

<th class="r">Edit</th>

<th class="r">Show</th>

<th class="r">Delete</th>

</th></thead>


<tr>

<td class="r" ><%= @form.email %></td>

<td class="r" ><%= @form.password %></td>

<td class="r" ><%= @form.genter %></td>

<td class="r" ><%= @form.dob %></td>

<td class="r" ><%= link_to "edit", edit_form_path(@form) %></td>

<td class="r" ><%= link_to "show", form_path(@form) %></td>

<td class="r" ><%= link_to "Delete", @form, :method=>"delete", :data => {:confirm=>"Are you Sure!"}%></td></tr>

</table></center>

<!--marquee><font color="red" size="4"><i>IT SHOWS THE SINGLE DATA</font></marquee-->

<iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="NO" width="100%" height="320" src="http://html-generator.weebly.com/files/theme/online-age-calculator.html"></iframe>
